:root {
    --text-color: white;
    --background-color: #121212;
    --accent-color: #BB86FC;
}

.unselectable, label, .prefix, .material-symbols-outlined {
    -webkit-user-select: none !important;
    -khtml-user-drag: none !important;
    -moz-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff0d;
    border-radius: 10px;
    border: 4px solid var(--background-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff33;
}

*::-webkit-scrollbar-thumb:active { 
    background-color: #ffffff26;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}